# Secrets, Auth & Cache
secrets.yaml
.env
bring_auth_cache.json
bring_catalog_cache.json
bring_vocab_cache.json
.storage/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
