# ==============================================================================
# Bring! Zugangsdaten für Home Assistant (Wird niemals nach Git übertragen!)
# ==============================================================================
# Trage diese Werte in deine eigene /config/secrets.yaml auf Home Assistant ein:

bring_email: "deine-email@example.com"       # E-Mail deines Bring! Kontos (z. B. der Alexa-User)
bring_password: "deinSicheresPasswort123"   # Passwort deines Bring! Kontos
bring_list_name: "Einkaufsliste"            # Optional: Name der Liste (Standard: "Einkaufsliste")
